<?xml version="1.0"?>
<robot name="rbrobout" xmlns:xacro="http://wiki.ros.org/xacro">


	<!-- ***************** -->
	<!-- Imported elements -->
	<!-- ***************** -->

	<!-- First we import all posible elements defined in the urdf.xacro files. All these elements are defined as macro:xacros -->

	<!-- Import RB-Robout base elements -->
	<xacro:include filename="$(find rbrobout_description)/urdf/bases/rbrobout_base.urdf.xacro" />

	<!-- Import RB-Robout wheels -->
  <xacro:include filename="$(find rbrobout_description)/urdf/wheels/omni_wheel.urdf.xacro" />

	<!-- Import all available sensors -->
	<xacro:include filename="$(find robotnik_sensors)/urdf/all_sensors.urdf.xacro" />

	<xacro:property name="PI" value="3.1415926535897931"/>

	<!-- Wheel parameters -->
	<xacro:property name="wheel_offset_x" value="0.558" />    <!-- x,y,z in translation from base_link to the center of the wheel -->
	<xacro:property name="wheel_offset_y" value="0.2865" />
	<xacro:property name="wheel_offset_z" value="0.0" />

	<!-- Flag to select the high or low quality model -->
	<xacro:property name="hq" value="true" />

	<xacro:arg name="prefix" default="rbrobout_"/>
	<xacro:arg name="ros_planar_move_plugin" default="false"/>
	<xacro:arg name="gpu" default="false"/>


  <xacro:macro name="rbrobout" params="prefix publish_bf hq">

		<!-- *************** -->
		<!-- Robots Elements -->
		<!-- *************** -->

		<!-- Here we create the robot elements using the xacro:macros imported at the beggining of this file -->

		<!-- Summit XL base -->
		<xacro:rbrobout_base prefix="$(arg prefix)" publish_bf="true" hq="${hq}" />

		<!-- Wheels -->
		<xacro:omni_wheel prefix="$(arg prefix)front_right" parent="$(arg prefix)base_link" reflect="false" hq="${hq}">
			<origin xyz="${wheel_offset_x} -${wheel_offset_y} ${wheel_offset_z}" rpy="1.57 0 0"/>
		</xacro:omni_wheel>

		<xacro:omni_wheel prefix="$(arg prefix)front_left" parent="$(arg prefix)base_link" reflect="true" hq="${hq}">
			<origin xyz="${wheel_offset_x} ${wheel_offset_y} ${wheel_offset_z}" rpy="1.57 0 0"/>
		</xacro:omni_wheel>

		<xacro:omni_wheel prefix="$(arg prefix)back_left" parent="$(arg prefix)base_link" reflect="true" hq="${hq}">
			<origin xyz="-${wheel_offset_x} ${wheel_offset_y} ${wheel_offset_z}" rpy="1.57 0 0"/>
		</xacro:omni_wheel>

		<xacro:omni_wheel prefix="$(arg prefix)back_right" parent="$(arg prefix)base_link" reflect="false" hq="${hq}">
			<origin xyz="-${wheel_offset_x} -${wheel_offset_y} ${wheel_offset_z}" rpy="1.57 0 0"/>
		</xacro:omni_wheel>

    <!-- IMU -->
		<xacro:sensor_imu prefix="$(arg prefix)imu" parent="$(arg prefix)base_link">
			<origin xyz="0.242 -0.053 -0.028" rpy="0 0 0"/>
		</xacro:sensor_imu>

		<!-- front 2d laser  -->
		<xacro:sensor_sick_microscan3 prefix="$(arg prefix)front_laser" parent="$(arg prefix)base_link" prefix_topic="front_laser">
			<origin xyz="0.8 0.366 -0.06" rpy="0 0 ${1/4*PI}"/>
		</xacro:sensor_sick_microscan3>

		<!-- rear 2d laser  -->
		<xacro:sensor_sick_microscan3 prefix="$(arg prefix)rear_laser" parent="$(arg prefix)base_link" prefix_topic="rear_laser">
			<origin xyz="-0.8 -0.366 -0.06" rpy="0 0 ${-3/4*PI}"/>
		</xacro:sensor_sick_microscan3>

		<!-- magnetic sensors  -->
		<xacro:sick_mls prefix="$(arg prefix)left_mls" parent="$(arg prefix)base_link">
			<origin xyz="0.1085 -0.3045 -0.09137" rpy="0 0 ${1/2*PI}"/>
		</xacro:sick_mls>

		<xacro:sick_mls prefix="$(arg prefix)right_mls" parent="$(arg prefix)base_link">
			<origin xyz="-0.1085 0.3045 -0.09137" rpy="0 0 ${-1/2*PI}"/>
		</xacro:sick_mls>

		<xacro:sick_mls prefix="$(arg prefix)front_mls" parent="$(arg prefix)base_link">
			<origin xyz="0.7725 -0.1085 -0.09137" rpy="0 0 0"/>
		</xacro:sick_mls>

   </xacro:macro>

   <!-- Gazebo ros control plugins -->
   <xacro:ros_control/>

	<xacro:if value="$(arg ros_planar_move_plugin)">
			<xacro:omni_steering prefix="$(arg prefix)" publish_tf="true"/>
	</xacro:if>

   <xacro:rbrobout prefix="$(arg prefix)" publish_bf="true" hq="true"/>


</robot>
