<?xml version="1.0"?>

<launch>

  <arg name="id_robot" default="$(optenv ROBOT_ID robot)"/>

  <group ns="$(arg id_robot)">

    <arg name="prefix" value="$(arg id_robot)_"/>

    <!-- ARM -->
    <include file="$(find robot_bringup)/launch/manipulation/arm/arm_complete.launch"/>

    <!-- GRIPPER -->
    <include file="$(find robot_bringup)/launch/manipulation/gripper/gripper_complete.launch"/>

    <!-- Joint state publisher. To do: create a moveit launch -->
    <node name="robotnik_joint_state_publisher" pkg="robotnik_joint_state_publisher" type="joint_state_publisher_node" output="screen">
        <rosparam command="load" file="$(find robot_bringup)/config/manipulation/publisher.yaml" subst_value="true"/>
        <remap from="~joint_states" to="moveit/joint_states"/>
    </node>

  </group>



</launch>
