<?xml version="1.0"?>
<launch>
  <arg name="id_robot" default="$(optenv ROBOT_ID robot)"/>
  <arg name="prefix" default="$(arg id_robot)_"/>

  <!-- kinematics: skid, omni -->
  <arg name="kinematics" default="$(optenv ROBOT_KINEMATICS skid)"/>
  <arg name="wheel_diameter" default="$(optenv ROBOT_WHEEL_DIAMETER 0.22)"/>
  <arg name="track_width" default="$(optenv ROBOT_TRACK_WIDTH 0.439)"/>
  <arg name="wheel_base" default="$(optenv ROBOT_WHEEL_BASE 0.430)"/>
  <arg name="odom_frame" default="$(arg prefix)odom"/>
  <arg name="base_frame" default="$(arg prefix)base_footprint"/>
  <arg name="cmd_vel" default="$(optenv ROBOT_TWISTMUX_CMD_OUT robotnik_base_control/cmd_vel)"/>
  <arg name="controller" default="$(optenv ROBOT_CONTROLLER robotnik_base_control)"/>
  <arg name="odom_broadcast_tf" default="true"/>

  <!-- Robot - Load joint controller configurations from YAML file to parameter server -->
  <rosparam file="$(find robot_bringup)/config/bringup/control/robot_control.yaml" command="load" subst_value="true"/>

  <!-- load the controllers -->
  <node name="controller_spawner" pkg="controller_manager" type="spawner" respawn="false" output="screen" args="
    $(arg controller)
    joint_read_state_controller
    ">
  </node>

  <node pkg="twist_mux" type="twist_mux" name="twist_mux">
    <rosparam command="load" file="$(find robot_bringup)/config/bringup/control/twist_mux.yaml" />
    <remap from="cmd_vel_out" to="$(arg cmd_vel)" />
  </node>


</launch>
