<?xml version="1.0"?>
<launch>
	<arg name="frame_id" default="imu_link"/>

	<node pkg="vectornav" type="vnpub" name="vectornav" output="screen" >
		<param name="frame_id" value="$(arg frame_id)"/>
    <rosparam command="load" file="$(find vectornav)/params/vn100.yaml" />
		<remap from="vectornav/IMU" to="imu/data"/>
		<remap from="vectornav/Mag" to="imu/mag"/>
		<remap from="vectornav/GPS" to="imu/global_position/raw/fix"/>
		<remap from="vectornav/Odom" to="imu/odom"/>
		<remap from="vectornav/Temp" to="imu/temperature"/>
		<remap from="vectornav/Pres" to="imu/atm_pressure"/>
		<remap from="vectornav/INS" to="imu/INS"/>
	</node>

</launch>
