<launch>
  <!--RS16, RS32, RSBP, RSBPV4, RSHELIOS, RSHELIOS_16P, RS128, RS80, RS48, RSP128, RSP80, RSP48, RSM1, RSM2, RSEOS, RSM1_JUMBO-->
  <arg name="lidar_type" default="RSHELIOS_16P"/>
  <arg name="msop_port" default="6699"/>
  <arg name="difop_port" default="7788"/>
  <arg name="frame_id" default="rslidar"/>

  <node pkg="rslidar_sdk" name="rslidar_sdk_node" type="rslidar_sdk_node" output="screen">
    <rosparam command="load" file="$(find rslidar_sdk)/config/config.yaml" subst_value="true"/>
    <param name="lidar_type" value="$(arg lidar_type)"/>
    <param name="msop_port" value="$(arg msop_port)"/>
    <param name="difop_port" value="$(arg difop_port)"/>
    <param name="frame_id" value="$(arg frame_id)"/>
    <param name="config_path" value=""/>
  </node>
  <!-- rviz -->
  <node pkg="rviz" name="rviz" type="rviz" args="-d $(find rslidar_sdk)/rviz/rviz.rviz" />
</launch>
