<?xml version="1.0"?>
<launch>
	<arg name="prefix" default="robot_"/>
  <arg name="angle_min" default="-3.35" /> <!-- 수정(대략 190deg, 180deg 아래면 merge data가 일부분 잘린다)-->
  <arg name="angle_max" default="3.35" />
  <arg name="node_name" default="merged_laser" />
  <arg name="destination_frame" default="$(arg prefix)base_footprint"/> <!-- merge한 라이다 데이터를 변환 시킬 frame -->
  <arg name="fixed_frame" default="$(arg prefix)odom"/>
  <arg name="cloud_destination_topic" default="cloud"/>
  <arg name="scan_destination_topic" default="scan"/>
  <arg name="filtered_scan_destination_topic" default="scan_filtered"/>
  <arg name="check_topic_type" default="true" />
  <arg name="laserscan_topics" default="/robot/front_laser/scan /robot/rear_laser/scan" /> <!--$(arg prefix)를 각 토픽앞에-->

	<node pkg="ira_laser_tools" type="laserscan_multi_merger" name="$(arg node_name)" output="screen">
		<param name="angle_min" value="$(arg angle_min)" />
		<param name="angle_max" value="$(arg angle_max)" />
		<param name="fixed_frame" value="$(arg fixed_frame)"/>
		<param name="destination_frame" value="$(arg destination_frame)"/>
		<param name="cloud_destination_topic" value="$(arg cloud_destination_topic)"/>
		<param name="scan_destination_topic" value="$(arg scan_destination_topic)"/>
		<param name="check_topic_type" value="$(arg check_topic_type)" />
		<param name="laserscan_topics" value="$(arg laserscan_topics)" /> <!-- LIST OF THE LASER SCAN TOPICS TO SUBSCRIBE -->
	</node>

</launch>
