<?xml version="1.0"?>
<launch>
  <arg name="host" default="$(optenv ROBOT_RLC_ROSTFUL_SERVER_IP localhost)"/>
  <arg name="port" default="$(optenv ROBOT_RLC_ROSTFUL_SERVER_PORT 8090)"/>
  <arg name="node_name" default="rostful_server"/>
  <arg name="init_delay" default="1"/>
  <arg name="id_robot" default="$(optenv ROBOT_ID robot)"/>

  <node pkg="rostful" type="server" name="$(arg node_name)" args="--host $(arg host) -p $(arg port)
      --topics /$(arg id_robot)/robot_local_control/state
                /$(arg id_robot)/wait_event/trigger1
                /$(arg id_robot)/command_manager/action/feedback
                /$(arg id_robot)/command_manager/action/result

      --services /$(arg id_robot)/robot_local_control/NavigationComponent/GoToComponent/query_state
                  /$(arg id_robot)/robot_local_control/NavigationComponent/GoToComponent/add
                  /$(arg id_robot)/robot_local_control/NavigationComponent/GoToComponent/cancel
                  /$(arg id_robot)/robot_local_control/NavigationComponent/MoveComponent/query_state
                  /$(arg id_robot)/robot_local_control/NavigationComponent/MoveComponent/add
                  /$(arg id_robot)/robot_local_control/NavigationComponent/MoveComponent/cancel
                  /$(arg id_robot)/robot_local_control/NavigationComponent/ChargeComponent/query_state
                  /$(arg id_robot)/robot_local_control/NavigationComponent/ChargeComponent/add
                  /$(arg id_robot)/robot_local_control/NavigationComponent/ChargeComponent/cancel
                  /$(arg id_robot)/robot_local_control/NavigationComponent/UnchargeComponent/query_state
                  /$(arg id_robot)/robot_local_control/NavigationComponent/UnchargeComponent/add
                  /$(arg id_robot)/robot_local_control/NavigationComponent/UnchargeComponent/cancel
                  /$(arg id_robot)/robot_local_control/NavigationComponent/PickComponent/query_state
                  /$(arg id_robot)/robot_local_control/NavigationComponent/PickComponent/add
                  /$(arg id_robot)/robot_local_control/NavigationComponent/PickComponent/cancel
                  /$(arg id_robot)/robot_local_control/NavigationComponent/PlaceComponent/query_state
                  /$(arg id_robot)/robot_local_control/NavigationComponent/PlaceComponent/add
                  /$(arg id_robot)/robot_local_control/NavigationComponent/PlaceComponent/cancel
                  /$(arg id_robot)/command_manager/command
                  /$(arg id_robot)/command_manager/cancel
                  /$(arg id_robot)/command_sequencer/command">

    <param name="init_delay" value="$(arg init_delay)"/>
  </node>

</launch>
