<?xml version="1.0"?>

<launch>
  <arg name="id_robot" default="$(optenv ROBOT_ID robot)"/>
  <arg name="prefix" default="$(arg id_robot)_" />
  <!-- Start waypoints_manager -->
  <arg name="start_waypoints_manager" default="false" />
  <arg name="global_frame" default="$(arg prefix)map"/>
  <arg name="odom_frame" default="$(arg prefix)odom"/>
  <arg name="base_frame" default="$(arg prefix)base_footprint"/>

  <!-- Robotnik Move Base Flex -->
  <node pkg="robotnik_move_base_flex" type="robotnik_move_base_flex_node" name="robotnik_move_base_flex" output="screen">
    <param name="robot_base_frame" value="$(arg base_frame)"/>
    <param name="fixed_frame" value="$(arg odom_frame)"/>
    <param name="world_frame" value="$(arg global_frame)"/>
    <param name="utm_frame" value="utm"/>
  </node>

  <!-- Robotnik waypoints manager -->
  <include if="$(arg start_waypoints_manager)" file="$(find robotnik_waypoints_bringup)/launch/robotnik_waypoints_bringup.launch"/>


</launch>
